<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <h2 class="mb-3">About</h2>

      <P>Node.js 게시판 만들기</p>

    </div>
  </body>
</html>